@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 700;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.body-container {
    background-color: #FFFFFF;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* НАВИГАЦИЯ и МЕНЮ */

.navigation {
    margin-left: 140px;
    margin-right: 140px;
    background-image: linear-gradient(#FFFFFF 11%, #FFE17F 11%);
}

.navigation-top-container {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.navigation-link-logo-img {
    margin-top: 20px;
}

.navigation-search-form {
    position: relative;
    display: flex;
}

.navigation-search-form-device {
    display: flex;
    margin: 0;
    margin-top: 30px;
    width: 517px;
}

.navigation-search-form-input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #000000;
    border-radius: 50px 0px 0px 50px;
    width: 359px;
    margin: 0;
    padding: 10px 48px;
    background-color: #FFE17F;
}

.navigation-search-form-input::placeholder {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.3;
}

.navigation-search-form-icon {
    position: absolute;
    left: 16px;
    top: 42px;
}

.navigation-search-form-button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #000000;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    margin: 0 auto;
    cursor: pointer;
    width: 160px;
    background-color: #FFE17F;
    padding: 10px 56px;
}

.navigation-list-user {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.navigation-item-user {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.navigation-item-user:first-child {
    margin-right: 176px;
    margin-left: 26px;
}

.navigation-item-user:nth-child(2) {
    margin-right: 36px;
}

.navigation-item-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    text-decoration: none;
}

.navigation-list-menu {
    display: flex;
    list-style-type: none;
}

.navigation-products-catalog-list {
    list-style-type: none;
}


/* ОСНОВНАЯ ЧАСТЬ MAIN */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.popular-product:not(:first-child) {
    display: none;
}


/* АССОРТИМЕНТ */

.products-catalog {
    margin-left: 140px;
    margin-right: 140px;
}

.products-catalog-list {
    display: flex;
}

.products-catalog-icon {
    width: 160px;
    height: 160px;
}

.products-catalog-item:first-child .products-catalog-icon {
    background-image: url(images/index/catalog_icon_vr.svg);
}

.products-catalog-item:nth-child(2) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_monopod.svg);
}

.products-catalog-item:nth-child(3) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_action_camera.svg);
}

.products-catalog-item:nth-child(4) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_fitnes.svg);
}

.products-catalog-item:nth-child(5) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_smart_watch.svg);
}

.products-catalog-item:last-child .products-catalog-icon {
    background-image: url(images/index/catalog_icon_quadrocopter.svg);
}


/* ADVANTAGES */

.advantages-container {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.advantages-container-right {
    display: flex;
}

.advantages-container:first-of-type .advantages-container-icon {
    background-image: url(images/index/advantages_delivery.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
}

.advantages-container:nth-of-type(2) .advantages-container-icon {
    background-image: url(images/index/advantages_guarantee.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 171px;
}

.advantages-container:nth-of-type(3) .advantages-container-icon {
    background-image: url(images/index/advantages_credit.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 156px;
}

.advantages-container-delivery-rare {
    min-height: 100px;
    margin-left: 140px;
    margin-right: 140px;
}

.delivery-rare-icon {
    background-image: url(images/index/delivery_rare.svg);
    width: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFE17F;
    padding: 35px 39px;
}


/*CONTACTS ABOUT*/

.contacts-about-container {
    margin-left: 140px;
    margin-right: 140px;
}


/* SUBSCRIBE */

.subscribe-container-top,
.subscribe-container-bottom {
    margin-left: 140px;
    margin-right: 140px;
}


/*FOOTER*/

.page-footer {
    background-color: #444444;
}

.page-footer-container {
    margin-left: 140px;
    margin-right: 140px;
}

.footer-link-logo-img path {
    fill: #FFC700;
}
