body {
    margin: 0;
    /*font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;*/
}

.body-container {
    background-color: #FFFFFF;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* НАВИГАЦИЯ и МЕНЮ */

.navigation {
    margin-left: 140px;
    margin-right: 140px;
}

.navigation-top-container {
    display: flex;
}

.navigation-list-user {
    display: flex;
    list-style: none;
}

.navigation-item-user:first-child {
    margin-right: 150px;
}

.navigation-list-menu {
    display: flex;
}


/* ОСНОВНАЯ ЧАСТЬ MAIN */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.popular-product:not(:first-child) {
    display: none;
}


/* АССОРТИМЕНТ */

.products-catalog {
    margin-left: 140px;
    margin-right: 140px;
}

.products-catalog-list {
    display: flex;
}

.products-catalog-icon {
    width: 160px;
    height: 160px;
}

.products-catalog-item:first-child .products-catalog-icon {
    background-image: url(images/index/catalog_icon_vr.svg);
}

.products-catalog-item:nth-child(2) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_monopod.svg);
}

.products-catalog-item:nth-child(3) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_action_camera.svg);
}

.products-catalog-item:nth-child(4) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_fitnes.svg);
}

.products-catalog-item:nth-child(5) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_smart_watch.svg);
}

.products-catalog-item:last-child .products-catalog-icon {
    background-image: url(images/index/catalog_icon_quadrocopter.svg);
}


/* ADVANTAGES */

.advantages-container {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.advantages-container-right {
    display: flex;
}

.advantages-container:first-of-type .advantages-container-icon {
    background-image: url(images/index/advantages_delivery.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
}

.advantages-container:nth-of-type(2) .advantages-container-icon {
    background-image: url(images/index/advantages_guarantee.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 171px;
}

.advantages-container:nth-of-type(3) .advantages-container-icon {
    background-image: url(images/index/advantages_credit.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 156px;
}

.advantages-container-delivery-rare {
    min-height: 100px;
    margin-left: 140px;
    margin-right: 140px;
}

.delivery-rare-icon {
    background-image: url(images/index/delivery_rare.svg);
    width: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFE17F;
    padding: 35px 39px;
}


/*CONTACTS ABOUT*/

.contacts-about-container {
    margin-left: 140px;
    margin-right: 140px;
}


/* SUBSCRIBE */

.subscribe-container-top,
.subscribe-container-bottom {
    margin-left: 140px;
    margin-right: 140px;
}


/*FOOTER*/

.page-footer {
    background-color: #444444;
}

.page-footer-container {
    margin-left: 140px;
    margin-right: 140px;
}

.footer-link-logo-img path {
    fill: #FFC700;
}
