@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 700;
    src: url(fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.body-container {
    background-color: #FFFFFF;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* НАВИГАЦИЯ и МЕНЮ */

.navigation {
    margin-left: 140px;
    margin-right: 140px;
    background-image: linear-gradient(#FFFFFF 40px, #FFE17F 40px);
}

.navigation-top-container {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.navigation-link-logo-img {
    margin-top: 20px;
    margin-left: 60px;
}

.navigation-search-form {
    position: relative;
    display: flex;
}

.navigation-search-form-device {
    display: flex;
    margin: 0;
    margin-top: 30px;
    width: 517px;
}

.navigation-search-form-input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #000000;
    border-radius: 50px 0px 0px 50px;
    width: 359px;
    margin: 0;
    padding: 10px 48px;
    background-color: #FFE17F;
}

.navigation-search-form-input::placeholder {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.3;
}

.navigation-search-form-icon {
    position: absolute;
    left: 16px;
    top: 42px;
}

.navigation-search-form-button {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #000000;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    margin: 0 auto;
    cursor: pointer;
    width: 160px;
    background-color: #FFE17F;
    padding: 10px 56px;
}

.navigation-list-user {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.navigation-item-user {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.navigation-item-user:first-child {
    margin-right: 176px;
    margin-left: 26px;
}

.navigation-item-user:nth-child(2) {
    margin-right: 36px;
}

.navigation-item-user:nth-child(3) {
    position: relative;
}

.navigation-item-user:nth-child(3) .navigation-item-icon {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation-item-icon-value {
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
    left: -16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation-item-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    text-decoration: none;
}

.navigation-item-menu-link {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.navigation-item-menu:nth-child(2) {
    margin-left: 276px;
    margin-right: 45px;
}

.navigation-item-menu:nth-child(3) {
    margin-right: 45px;
}

.navigation-item-menu-button {
    background-color: #FFE17F;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    opacity: 0.3;
}

.navigation-products-catalog-container {
    display: none;
    position: absolute;
    width: 1160px;
    min-height: 180px;
    background-color: #FFE17F;
    padding-top: 8px;
}

.navigation-bottom-container {
    position: relative;
}

.nested {
    z-index: 1;
}

.nested-link {
    margin-left: 60px;
    min-width: 236px;
    text-align: left;
    position: relative;
}

.nested-link::before {
    content: "";
    position: absolute;
    background-image: url(images/index/+.svg);
    width: 16px;
    height: 16px;
    opacity: 0.3;
    right: 17px;
    top: 3px;
}

.nested:hover .navigation-products-catalog-container {
    display: flex;
    white-space: nowrap;
}

.nested:hover .nested-link::before {
    background-image: url(images/index/-.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 17px;
    top: 9px;
}

.navigation-item-menu-button {
    cursor: pointer;
}

.navigation-list-menu {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
    list-style-type: none;
}


/*Блок всплывающего меню в хэдере*/

.navigation-products-catalog-list {
    list-style-type: none;
    padding: 0;
    min-height: 120px;
}

.navigation-products-catalog-list:first-child {
    padding-right: 30px;
    width: 222px;
}

.navigation-products-catalog-list:not(:first-child) {
    width: 211px;
}

.navigation-products-catalog-item {
    line-height: 40px;
    font-size: 16px;
}

.navigation-products-catalog-list:first-child {
    padding-left: 60px;
}

.navigation-products-catalog-link {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 18px;
}


/* ОСНОВНАЯ ЧАСТЬ MAIN */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.popular-products-slider-container {
    background-image: linear-gradient(#FFE17F 116px, #FFFFFF 116px);
}

.popular-product:not(:first-of-type) {
    display: none;
}

.popular-product {
    display: flex;
}

.popular-product-title {
    min-width: 545px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-top: 5px;
}

.popular-product-description {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.popular-product-information-link {
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 220px;
    background-image: linear-gradient( #FFFFFF 6px, #FFE17F 6px, #FFE17F 14px, #FFFFFF 14px);
}

.popular-product-chars {
    width: 307px;
    margin-top: 50px;
}

.popular-product-table-rows {
    width: 140px;
}

.popular-product-table-head {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    width: 140px;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

.popular-product-table-description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    padding: 0;
    text-align: left;
    padding-bottom: 12px;
}


/*Слайдер*/

.slider-image {
    display: flex;
    position: relative;
    margin-right: 40px;
}

.popular-product-image {
    position: relative;
    top: -30px;
}

.slider-button {
    padding: 0;
    background: none;
    border: none;
    width: 20px;
    height: 60px;
    margin-top: 211px;
    margin-bottom: 289px;
    background-image: url(images/index/slider_button.svg);
    cursor: pointer;
    z-index: 1;
}

.slider-button:first-child {
    position: absolute;
    left: 27px;
}

.slider-button:last-child {
    position: absolute;
    left: 540px;
    transform: rotate(180deg);
}


/*Описание слайда*/

.slider-description {
    display: flex;
    flex-direction: column;
}

.slide-number {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: #ffffff;
    text-align: right;
    display: block;
    margin-right: 49px;
    margin-top: 54px;
}


/* АССОРТИМЕНТ */

.products-catalog {
    margin-left: 140px;
    margin-right: 140px;
}

.products-catalog-list {
    display: flex;
}

.products-catalog-icon {
    width: 160px;
    height: 160px;
}

.products-catalog-item:first-child .products-catalog-icon {
    background-image: url(images/index/catalog_icon_vr.svg);
}

.products-catalog-item:nth-child(2) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_monopod.svg);
}

.products-catalog-item:nth-child(3) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_action_camera.svg);
}

.products-catalog-item:nth-child(4) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_fitnes.svg);
}

.products-catalog-item:nth-child(5) .products-catalog-icon {
    background-image: url(images/index/catalog_icon_smart_watch.svg);
}

.products-catalog-item:last-child .products-catalog-icon {
    background-image: url(images/index/catalog_icon_quadrocopter.svg);
}


/* ADVANTAGES */

.advantages-container {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.advantages-container-right {
    display: flex;
}

.advantages-container:first-of-type .advantages-container-icon {
    background-image: url(images/index/advantages_delivery.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
}

.advantages-container:nth-of-type(2) .advantages-container-icon {
    background-image: url(images/index/advantages_guarantee.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 171px;
}

.advantages-container:nth-of-type(3) .advantages-container-icon {
    background-image: url(images/index/advantages_credit.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 156px;
}

.advantages-container-delivery-rare {
    min-height: 100px;
    margin-left: 140px;
    margin-right: 140px;
}

.delivery-rare-icon {
    background-image: url(images/index/delivery_rare.svg);
    width: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFE17F;
    padding: 35px 39px;
}


/*CONTACTS ABOUT*/

.contacts-about-container {
    margin-left: 140px;
    margin-right: 140px;
}


/* SUBSCRIBE */

.subscribe-container-top,
.subscribe-container-bottom {
    margin-left: 140px;
    margin-right: 140px;
}


/*FOOTER*/

.page-footer {
    background-color: #444444;
}

.page-footer-container {
    margin-left: 140px;
    margin-right: 140px;
}

.footer-link-logo-img path {
    fill: #FFC700;
}
