@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* НАВИГАЦИЯ и МЕНЮ */

.page-header {
  margin: 0 auto;
  padding-top: 10px;
}

.navigation {
  width: 1160px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: linear-gradient(#FFFFFF 20px, #FFE17F 20px);

}

.navigation-top-container {
  display: flex;
  margin-top: 30px;
  width: 1080px;
}



.navigation-link {
  display: block;
  height: 36px;
  width: 145px;
}

.navigation-search-form {
  position: relative;
  display: flex;
  height: 40px;
}

.navigation-search-form-device {
  display: flex;
  margin: 0;
  width: 517px;
}

.navigation-search-form-input {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  width: 359px;
  margin: 0;
  padding: 10px 48px;
  background-color: #FFE17F;
}

.navigation-search-form-button::before {
  content: "";
  display: block;
  background-image: url(../images/index/nav_glass.svg);
  width: 16px;
  height: 17px;
  position: absolute;
  right: 304%;
}

.navigation-search-form-input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.navigation-search-form-icon {
  position: absolute;
  left: 16px;
  top: 42px;
}

.navigation-search-form-button {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  margin: 0 auto;
  cursor: pointer;
  width: 160px;
  background-color: #FFE17F;
  padding: 10px 56px;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 26px;
  gap: 36px;
}

.navigation-item-user {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}



.navigation-item-user:first-child {
  min-width: 81px;
  display: flex;
  margin-right: 20px;
}

.navigation-item-user:nth-child(3) {
  position: relative;
}

.navigation-item-user:nth-child(3) .navigation-item-icon {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation-item-icon-value {
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0;
  left: -16px;
}

.navigation-item-link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.navigation-item-user:first-child .navigation-item-link::before {
  content: "";
  background-image: url(../images/index/nav_login.svg);
  width: 15px;
  height: 12px;
  display: block;
}

.logout::after {
  content: "Выйти";
  min-width: 57px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  opacity: 0.3;
  margin-left: 16px;
}

.login {
  width: 190px;
}

.logout {
  text-overflow: ellipsis;
}

.navigation-item-user:has(.logout) {
  margin-right: 0;
}

.navigation-list-user:has(.navigation-item-user .logout) {
  gap: 25px;
}

.logout-user {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 78px;

}

.compare::before {
  content: "";
  background-image: url(../images/index/nav_compare.svg);
  width: 10px;
  height: 12px;
  display: block;
}

.cart::before {
  content: "";
  background-image: url(../images/index/nav_cart.svg);
  width: 16px;
  height: 14px;
  display: block;
}

.navigation-item-menu-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.navigation-item-menu-link.current-link {
  padding: 10px 0;
}

.navigation-item-menu {
  z-index: 1;
}

.navigation-item-menu:has(.current-link) {
  border-bottom: 2px solid #000000;
}

.navigation-item-menu:not(:last-child):not(:first-child) {
  margin-right: 45px;
}

.navigation-item-menu:nth-child(2) {
  margin-left: 276px;
}





.navigation-products-catalog-container {
  display: none;
  position: absolute;
  width: 1160px;
  min-height: 180px;
  background-color: #FFE17F;
  padding-top: 8px;
  left: -60px;
}

.navigation-bottom-container {
  position: relative;
  padding-bottom: 20px;
}

.nested {
  z-index: 1;
}

.nested-link {
  min-width: 236px;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 2px;
  z-index: 1;
}

.nested-link::after {
  content: "";
  display: block;
  background-color: #FFE17F;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  opacity: 0.3;
}

.nested-link::before {
  content: "";
  position: absolute;
  background-image: url(../images/index/plus.svg);
  width: 16px;
  height: 16px;
  opacity: 0.3;
  right: 17px;
  top: 16px;
  z-index: 1;
}



.nested:hover .navigation-products-catalog-container,
.nested:focus-within .navigation-products-catalog-container {
  display: flex;
  white-space: nowrap;
}


.navigation-item-menu-button {
  cursor: pointer;
}

.navigation-list-menu {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  width: 1040px;
}


/*Блок всплывающего меню в хэдере*/

.navigation-products-catalog-list {
  list-style-type: none;
  padding: 0;
  min-height: 120px;
}

.navigation-products-catalog-list:first-child {
  padding-right: 30px;
  width: 222px;
  padding-left: 60px;
}

.navigation-products-catalog-list:nth-child(2) {
  margin-left: 95px;
}

.navigation-products-catalog-list:not(:first-child) {
  width: 211px;
}

.navigation-products-catalog-item {
  line-height: 40px;
  font-size: 16px;
}

.navigation-products-catalog-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
}


/* ОСНОВНАЯ ЧАСТЬ MAIN */

.main-container {
  flex-grow: 1;



}

.page-container {
  margin: 0 auto;

}

.hero {
  margin: 0 auto;
  width: 1160px;

  position: relative;

}

.popular-products-slider-container {
  background-image: linear-gradient(#FFE17F 116px, #FFFFFF 116px);
}

.popular-products-slider-container:not(:first-of-type) {
  display: none;
}

.popular-product:not(:first-of-type) {
  display: none;
}

.popular-product {
  display: flex;
}

.popular-product-title {
  min-width: 545px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 29px;
}

.popular-product-description {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.popular-product-information-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  position: relative;
  background-image: linear-gradient(#FFFFFF 40%, #FFE17F 40%, #FFE17F 60%, #FFFFFF 60%);
  padding: 10px 5px;
}



.popular-product-chars {
  margin-top: 50px;
  border-spacing: 20px 12px;
  padding-bottom: 35px;
}

.popular-product-table-head {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.popular-product-table-description {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  padding: 0;
  text-align: left;
}


/*Слайдер*/

.slider-image {
  display: flex;
  position: relative;
  margin-right: 40px;
}

.popular-product-image {
  position: relative;
  bottom: 35px;
}

.slider-button {
  padding: 0;
  background: none;
  border: none;
  width: 20px;
  height: 60px;
  margin-top: 211px;
  margin-bottom: 289px;
  background-image: url(../images/index/slider_button.svg);
  cursor: pointer;
  z-index: 1;
}

.slider-button:first-of-type {
  position: absolute;
  left: 30px;
}

.slider-button:last-of-type {
  position: absolute;
  left: 540px;
  transform: rotate(180deg);
}


/*Описание слайда*/

.slider-description {
  display: flex;
  flex-direction: column;
}

.slide-number {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  text-align: right;
  display: block;
  margin-right: 49px;
  margin-top: 54px;
}


/*Радиокнопки слайдера*/

.slider-buttons-container {
  position: relative;
}


.slider-buttons-list {
  display: flex;
  gap: 20px;
  height: 30px;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  margin: 0;
  position: absolute;
  left: 48%;
  bottom: 10px;
}

.slider-buttons-item {
  display: block;
  width: 12px;
  height: 12px;
}

.button-slider {
  width: 12px;
  height: 12px;
  cursor: pointer;
  outline: 2px solid #000000;
  border: none;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.slider-buttons-item:first-child .button-slider {
  background-color: #000000;
}


/* АССОРТИМЕНТ */

.products-catalog {
  width: 1160px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;

}

.products-catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  gap: 40px;
}

.products-catalog-item {
  width: 160px;
}


/*.products-catalog-icon {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}*/

.products-catalog-link {
  text-decoration: none;
  color: inherit;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  display: block;
}


.vr::before {
  content: "";
  display: block;
  background-image: url(../images/index/catalog_icon_vr.svg);
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.monopod::before {
  content: "";
  display: block;
  background-image: url(../images/index/catalog_icon_monopod.svg);
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.action-camera::before {
  content: "";
  display: block;
  background-image: url(../images/index/catalog_icon_action_camera.svg);
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.fitnes::before {
  content: "";
  display: block;
  background-image: url(../images/index/catalog_icon_fitnes.svg);
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.smartwatch::before {
  content: "";
  display: block;
  background-image: url(../images/index/catalog_icon_smart_watch.svg);
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.quadro::before {
  content: "";
  display: block;
  background-image: url(../images/index/catalog_icon_quadrocopter.svg);
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

/* ADVANTAGES */


/* Левый блок */

.advantages {
  background-image: linear-gradient(#FFFFFF 102px, #F0F0F0 102px, #F0F0F0 391px);
}

.advantages-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  position: relative;

}



.advantages-list {
  list-style-type: none;
  padding: 0;
  min-width: 287px;
  border-right: 7px solid #000000;
  margin: 0;
  margin-bottom: 72px;
}

.advantages-item:first-child {
  margin-top: 65px;
}

.advantages-item:not(:last-child) {
  margin-bottom: 35px;
}

.advantages-item:last-child {
  margin-bottom: 65px;
}

.advantages-current {
  color: #FFE17F;
  background-color: #000000;
  ;
}

.advantages-item-link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  margin-right: 100%;
  min-width: 175px;
  padding-top: 9px;
  padding-bottom: 11px;
}

.advantages-item:not(.advantages-current) .advantages-item-link {
  background-image: linear-gradient(#f2f2f2 35%, #FFE17F 35%, #FFE17F 55%, #F2f2f2 55%);
}



/*Правый блок*/

.advantages-container-description {
  display: block;
}

.advantages-container-right {
  display: flex;
  margin-left: 116px;
  margin-top: 72.5px;
}

.advantages-container-right-info {
  width: 479px;
}

.advantages-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.advantages-description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.advantages-container-right:first-of-type .advantages-container-icon {
  background-image: url(../images/index/advantages_delivery.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 136px;
}

.advantages-container-right:nth-of-type(2) .advantages-container-icon {
  background-image: url(../images/index/advantages_guarantee.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 171px;
}

.advantages-container-right:nth-of-type(3) .advantages-container-icon {
  background-image: url(../images/index/advantages_credit.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 156px;
}

.advantages-container-right:first-of-type .advantages-container-right-info {
  margin-right: 106px;
}

.advantages-container-right:nth-of-type(2) .advantages-container-right-info {
  margin-right: 79px;
}

.advantages-container-right:nth-of-type(3) .advantages-container-right-info {
  margin-right: 98px;
}

.advantages-container-right:not(:first-of-type) {
  display: none;
}

/*Доставка редкого товара*/

.advantages-rare {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;

}

.delivery-rare-link {
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  width: 1160px;
  background-color: #F0F0F0;
  min-height: 100px;
  position: relative;
}

.delivery-rare-link::before {
  content: "";
  background-image: url(../images/index/delivery_rare.svg);
  width: 125px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;

}

.delivery-rare-description {
  padding: 40px 0;
  width: 1035px;
}

.delivery-rare-link::after {
  content: "";
  display: block;
  background-image: url(../images/index/rare_info.svg);
  opacity: 0.3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 42px;
}


/*CONTACTS ABOUT*/

.contacts-about-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  gap: 108px;

  margin-bottom: 70px;
}

.about {
  width: 520px;
}

.contacts {
  width: 532px;
}

.about-title,
.contacts-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
}

.about-description,
.contacts-description {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.delivery-company-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.delivery-company-item {
  display: flex;
  gap: 26px;
}


.delivery-company-item:not(:last-child) {
  margin-bottom: 19px;
}

.delivery-company-item::before {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
}

.about .contacts-about-link {
  width: 270px;
}

.contacts .contacts-about-link {
  width: 259px;
}

.contacts-about-link {
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  padding: 10px 6px;
  background-image: linear-gradient(#FFFFFF 15px, #FFE17F 15px, #FFE17F 22px, #FFFFFF 22px);
}

.contacts-titles {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.adress {
  margin-bottom: 0;
}

.phone {
  display: block;
  width: 154px;
}

/* SUBSCRIBE */

.subscribe {
  background-color: #f2f2f2;
}

.subscribe-containers {

  width: 1160px;
  margin: 0 auto;


}

.subscribe-container-top {
  display: flex;
  gap: 252px;
}

.subscribe-container-bottom {
  display: flex;
  gap: 188px;
  padding-bottom: 56px;
  align-items: center;
}

.subscribe-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 144px;
  width: 348px;

}

.subscribe-description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-top: 74px;
  width: 560px;
}

.subscribe-form {
  width: 810px;
}

.subscribe-form-email {
  display: flex;
  margin: 0;
  height: 57px;
}

.subscribe-form-email-input {
  min-width: 557px;
  background-color: #F2f2f2;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  padding: 11px 16px 14px 16px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-form-email-input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.button-subscribe {
  min-width: 253px;
  border: 3px solid #C4C4C4;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.form-description {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  display: flex;
  gap: 16px;
  align-items: center;
}

.form-description::before {
  content: "";
  display: block;
  background-image: url(../images/index/check_mark.svg);
  width: 16px;
  height: 16px;
}

/*FOOTER*/

.page-footer {
  background-color: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 62px;
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container:first-child {
  width: 239px;
  margin-right: 119px;
}

.footer-container:nth-child(2) {
  width: 444px;
  margin-right: 183px;
  margin-top: 75px;

}

.footer-container:last-child {
  width: 175px;
  margin-top: 78px;
  justify-content: flex-end;
}

.footer-adress {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 65px;
}

.decoration-footer {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  margin-bottom: 62px;

}

.footer-menu-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  padding: 4px 0;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 444px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer-phone {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-bottom: 63px;

}

.footer-link {
  margin-bottom: 35px;
  width: 145px;
  height: 36px;
}

.academy-link {
  display: flex;
  justify-content: end;
  width: 115px;
}

.footer-link-logo::before {
  content: "";
  display: block;
  background-image: url(../images/index/footer_logo.svg);
  width: 145px;
  height: 36px;
}


/*КАТАЛОГ*/

/*Шапка с хлебными крошками*/

.inner-header {
  margin: 0 auto;
  width: 1045px;
  margin-bottom: 34px;
}

.inner-header-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 16px;

}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 16px;
  cursor: pointer;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after {
  content: "";
  background-image: url(/images/catalog/breadcrubms_vector.svg);
  display: block;
  width: 4px;
  height: 7px;
  opacity: 0.2;
}

/*РЕЗУЛЬТАТ ПОИСКА В КАТАЛОГЕ*/

.result {
  background-color: #F0F0F0;
  display: flex;
}

.result-container {
  margin: 0 auto;
  display: flex;
  gap: 60px;
}

.filter {
  margin-top: 30px;
}

.sort {
  display: flex;
  flex-direction: column;
}

.sort-container-top {
  display: flex;
  justify-content: space-around;
  gap: 206px;
  position: relative;
  align-items: center;
  margin: 25px 0;
}

.sort-container-top .result-title {
  margin-left: 30px;
}

/*Селектор сортировки*/
.select-container {
  display: flex;
  align-items: center;
}

.select-control {
  position: relative;
  appearance: none;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0 2px;
  cursor: pointer;
  background-color: #F0F0F0;
  text-overflow: ellipsis;
  width: 141px;
  height: 30px;
  background-image: url(/images/catalog/select.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.select-value {
  text-overflow: ellipsis;
}

/*Кнопки "по возрастанию/убыванию"*/

.price-container {
  display: flex;
  position: relative;
  margin-right: 30px;
}

.price-button {
  background-color: #F0F0F0;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
}

.price-button-container {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.price-button-container::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(/images/catalog/price_from.svg);
  width: 11px;
  height: 10px;
  top: 10px;
  opacity: 0.3;
}

.price-button-container:first-of-type::before {
  left: 9px;
}

.price-button-container:last-of-type::before {
  right: 9px;
  transform: rotate(180deg);
}

/*Фильтр*/
.result-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.result-filter .result-title {
  margin-bottom: 60px;
}

/*Слайдер*/

.filter-price {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.filter-price-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-slider {
  display: flex;
  position: relative;
}

.control-slider-button {
  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.control-slider .control-slider-button:last-of-type {
  position: absolute;
  left: 115px;
  z-index: 1;
}

.control-slider-value {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
}

.control-slider-value:first-child {
  margin-right: 67px;
}

.strip {
  display: flex;
  align-items: center;
}

.select {
  width: 100px;
  height: 2px;
  background-color: #000000;
}

.not-select {
  width: 72px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
}

/*Чекбокс цветов*/

.fliter-color {
  border-bottom: 2px solid #000000;
  ;
}

.filter-color-title {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter-color-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.control-color {
  display: flex;
  cursor: pointer;

}

.color-mark {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 16px;
}

.color-input[type="checkbox"]:checked+.color-mark::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 3px;
  background-image: url(/images/catalog/checkbox.svg);
  width: 10px;
  height: 10px;
}

/*Радиокнопки bluetoth*/

.filter-bluetooth-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 20px;
}

.filter-bluetooth-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.control-bluetooth {
  display: flex;
  cursor: pointer;
}

.bluetooth-mark {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-right: 16px;
}

.bluetooth-input[type="radio"]:checked+.bluetooth-mark::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: #000000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

/*Кнопка "Показать"*/

.filter-button {
  text-decoration: none;
  color: inherit;
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  position: relative;
  background-image: linear-gradient(#F0F0F0 40%, #FFE17F 40%, #FFE17F 60%, #F0F0F0 60%);
  padding: 10px 5px;
  border: none;
}

/*Карточки товаров*/

.sort-container-bottom {
  background-color: #FFFFFF;
}

.result-card-list {
  padding: 0;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 70px;
  margin-bottom: 44px;
}

.result-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.result-card-type {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;

}

.result-card-price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.result-card-description-container {
  display: flex;
  justify-content: space-between;
}

.result-card-more-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 62px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 295px;
  border: 3px solid #E5E5E5;
}

/*Пагинация*/

.pagination {
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: #EBEBEB;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 78px;
}

.pagination-link-word {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 25px;
  cursor: pointer;
}

.pagination-item:first-child .pagination-link-word {
  color: #444444;
  opacity: 0.3;
}

.pagination-link-number {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
}

.pagination-item:nth-child(2) .pagination-link-number {
  opacity: 0.6;
}

.pagination-item:nth-child(2) {
 margin-left: 145px;
}

.pagination-item:nth-child(6) {
  margin-right: 145px;
 }



.pagination-interval {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}


/* СОСТОЯНИЯ */

/*Логотип Device */

.navigation-link:hover,
.footer-link:hover {
  opacity: 0.6;
}

.navigation-link:active,
.footer-link:active {
  opacity: 0.3;
}

.navigation-link:focus,
.footer-link:focus {
  outline: 2px solid #AF4FFF;
}


/* Поиск по сайту в шапке */

.navigation-search-form-input:not(:placeholder-shown) {
  border: 2px solid #000000;
}

.navigation-search-form-input:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-search-form-input:disabled {
  opacity: 0.3;
}

.navigation-search-form-button:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 1s;
}

.navigation-search-form-button:active {
  opacity: 0.3;
  transition: 0.2s;
}

.navigation-search-form-button:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-search-form-button:disabled {
  opacity: 0.3;
}



/* Меню */

.navigation-item-menu:not(:first-child):hover,
.navigation-item-menu:has(.current-link):hover,
.navigation-item-user:hover,
.navigation-products-catalog-item:hover {
  opacity: 0.6;
}

.navigation-item-menu:not(:first-child):active,
.navigation-item-menu:has(.current-link):active,
.navigation-item-user:active,
.navigation-products-catalog-item:active {
  opacity: 0.3;
}

.nested-link:hover::before,
.nested-link:active::before {
  content: "";
  position: absolute;
  background-image: url(../images/index/minus.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  opacity: 1;
  right: 17px;
  top: 22px;
  z-index: 1;
}

.nested-link:hover::after,
.nested-link:active::after {
  opacity: 1;
}

.navigation-item-menu-link:focus,
.navigation-products-catalog-link:focus,
.navigation-item-link:focus {
  outline: 2px solid #AF4FFF;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-button:active {
  opacity: 0.3;
}

.button-slider:hover {
  opacity: 0.6;
}

.button-slider:focus {
  outline: 2px solid #AF4FFF;
}

.button-slider:active {
  opacity: 0.3;
}

/* Кнопки с линиями */

.line-button:hover,
.advantages-item:not(.advantages-current) .advantages-item-link:hover {
  background-image: linear-gradient(#FFFFFF 0%, #FFE17F 0%, #FFE17F 100%, #FFFFFF 100%);
}

.line-button:active,
.advantages-item:not(.advantages-current) .advantages-item-link:active {
  background-image: linear-gradient(#FFFFFF 0%, #FFCC33 0%, #FFCC33 100%, #FFFFFF 100%);
}

.line-button:focus {
  outline: 2px solid #AF4FFF;
}

/*Перечень продукции*/

.products-catalog-link:hover::before {
  background-color: #FFC700;
}

.products-catalog-link:active {
  opacity: 0.3;

}

.products-catalog-link:focus {
  outline: 2px solid #AF4FFF;
}

/*Преимущества*/

/*Правая секция*/

.advantages-current .advantages-item-link:hover,
.advantages-current .advantages-item-link:active {
  padding-left: 35px;
  transition: 0.5s;
}

.advantages-current .advantages-item-link:focus {
  outline: 2px solid #AF4FFF;
}

/*Редкий товар*/

.delivery-rare-link:hover:before {
  background-color: #FFC700;
}

.delivery-rare-link:hover:after {
  opacity: 1;
}

.delivery-rare-link:active {
  opacity: 0.3;
}

.delivery-rare-link:focus {
  outline: 2px solid #AF4FFF;
}

/*Контакты*/

.phone:hover {
  color: #FFC700;
  transition: 0.2s;
}

.phone:active {
  opacity: 0.3;
}

.phone:focus {
  outline: 2px solid #AF4FFF;
}




/*Подписка*/
.subscribe-form-email-inputt:not(:placeholder-shown) {
  border: 2px solid #000000;
}

.subscribe-form-email-input:focus {
  outline: 2px solid #AF4FFF;
}

.subscribe-form-email-input:disabled {
  opacity: 0.3;
}

.button-subscribe:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 1s;
}

.button-subscribe:active {
  opacity: 0.3;
  transition: 0.2s;
}

.button-subscribe:focus {
  outline: 2px solid #AF4FFF;
}

.button-subscribe:disabled {
  opacity: 0.3;
}

/*Футер ссылки меню*/

.footer-menu-link:hover {
  border-bottom: 2px solid #FFC700;
  color: #FFC700;
  transition: 0.2s;
}

.footer-menu-link:active {
  opacity: 0.3;
  transition: 0.2s;
}

.footer-menu-link:focus {
  outline: 2px solid #AF4FFF;
}

/*Футер соцсети*/

.footer-social-link:hover {
  background-color: #FFC700;
  transition: 0.2s;
}

.footer-social-link:active {
  opacity: 0.3;
  transition: 0.2s;
}

.footer-social-link:focus {
  outline: 2px solid #AF4FFF;
}

/*Футер иконка академии*/

.academy-icon:hover path {
  fill: #FFFFFF;
  transition: 0.2s;
}

.academy-icon:active path {
  opacity: 0.3;
}

.academy-link:focus {
  outline: 2px solid #AF4FFF;
}

/*Футер телефон*/

.footer-phone:hover {
  color: #FFC700;
  transition: 0.2s;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus {
  outline: 2px solid #AF4FFF;
}
